@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1664px;
    margin: 0 auto;
}
body{
    background: var(--back, #111);
    color: white;
    scroll-behavior: smooth;
}
button{
    backdrop-filter: blur(10px);
}
.stairs{
    transition-duration: 600ms;
}
.stairs:hover{
    transform: rotate(45deg)
}
.swiper-slide{
    padding: 24px 64px;
    border-radius: 48px;
    background: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(50px);
    height: 791px;
};
.info-project{
    backdrop-filter: blur(40px);
};